/* Expenses.css */
.expenses {
    /* padding: 20px; */
    align-items: center;
    background: linear-gradient(135deg, #f0f9ff 0%, #e0f7fa 100%);
  }
  
  h1 {
    font-size: 32px;
  }
  
  .btn-add-expense {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .btn-add-expense:hover {
    background-color: #45a049;
  }
  
  .expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .expenses-table th, .expenses-table td {
    padding: 10px;
    text-align: left;
  }
  
  .expenses-table th {
    background-color: #f2f2f2;
  }
  
  .expenses-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  