/* Navbar.css */
.navbar {
    background-color: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-start; /* Keep items aligned left */
    align-items: center; /* Vertically center the items */
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Add space between "Financify" and the button */
  }
  
  .navbar-brand:hover {
    color: #ddd;
  }
  
  .btn-see-expenses {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  
  .btn-see-expenses:hover {
    color: #ddd;
  }
  